*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    background: white;
    font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
    line-height: calc(27 / 16 * 100%);
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: #666666;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* {
    -webkit-tap-highlight-color: transparent;
  }
/*--------------------*/
body._lock{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*-----------------HEADER----------------*/
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__body {
}
.header__body_block {
    padding: 62px 0;
    max-width: 563px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__body_logo {
}
.navbar {
}
.navbar__ul {
    display: flex;
}
.navbar__ul >*:not(:last-child){
    margin-right: 56px;
}
.navbar__li {
    cursor: pointer;
    transition: color 0.3s ease 0s;
    font-weight: 500;
    line-height: calc(24 / 16 * 100%);
    color: rgba(18, 18, 18, 0.4);
}
.navbar__li:hover{
    color: #FF6428;
}
.navigator_system {
}
.header__burger {
    display: none;
}

/*-----------------MAIN----------------*/
main{
    flex: 1 1 auto;
}
.page {
    z-index: 1;
    padding: 235px 0 100px 0;
    position: relative;
}
.page__body {
    position: relative;
    z-index: 3;
}
.page__body_contant {
}
.page__body_block_contant {
    max-width: 469px;
}
h1{
    letter-spacing: -2.5px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: calc(67 / 56 * 100%);
    color: #121212;
    margin-bottom: 16px;
}

.page__body_block_contant_text {
    max-width: 420px;
    position: relative;
    margin-bottom: 33px;
    font-weight: 500;
    line-height: calc(24 / 16 * 100%);
}
.page__body_block_buttons {
    position: relative;
}
.page__body_block_buttons_block{
    display: flex;
    min-width: 312px;
    max-width: 312px;
    justify-content: space-between;
    align-items: center;
}
.page__body_block_button_orange {
    position: relative;
    background: #FF6428;
    border-radius: 40px;
    padding: 18px 48px;
    font-weight: 600;
    line-height: calc(24 / 16 * 100%);
    color: #FFFFFF;
}
.page__body_block_button_google {
}
.page__body_block_button_apple {
}
.page__body_block_img {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.page__body_block_img_block_1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page__body_block_img_block_2{
    position: absolute;
    bottom: -40px;
    right: 36%;
    /* margin-top: -40px;
    margin-right: 244px; */
}
@media (max-width: 1444px){
    .navbar__ul >*:not(:last-child){
        margin-right: 36px;
    }
    .header__body_block{
        max-width: 463px;
    }
}
@media (max-width: 1244px){
    .navbar__ul >*:not(:last-child){
        margin-right: 16px;
    }
    .header__body_block{
        max-width: 383px;
    }
    h1{
        letter-spacing: -2.5px;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 600;
        font-size: 46px;
        line-height: calc(57 / 46 * 100%);
        color: #121212;
        margin-bottom: 16px;
    }
}
@media (max-width: 1124px){
    .navbar__ul >*:not(:last-child){
        margin-right: 0;
    }
    .header__body_block {
        padding: 42px 0;
        max-width: 100%;
    }
    .page {
        padding: 175px 0 370px 0;
    }

    .page__body_block_img_block_1{
        opacity: 0.55;
    }

    .page__body_block_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .page__body_block_img_block_1{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    .page__body_block_contant,
    .page__body_block_contant_text{
        text-align: center;
        max-width: 100%;
    }
    h1{
        display: inline;
    }
    .page__body_block_buttons{

        display: flex;
        justify-content: center;
    }
    .page__body_block_contant_text{
        margin: 30px 0 70px 0;
        opacity: 0.7;
        color: #000000;
    }
    .page__body_block_button_google_svg{
        fill: rgba(10, 10, 10, 0.4);
    }

    .header__burger{
        flex: 0 0 30px;
        display: flex;
        position: relative;
        height: 20px;
        z-index: 6;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        justify-content: space-between;
    }
    .header__body_block._active{
        margin-right: 0;
    }
    .header__burger span,
    .header__burger::before,
    .header__burger::after{
        background-color: black;
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
    }
    .header__burger::before{
        height: 12%;
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header__burger._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header__burger._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__burger._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__burger._active span,
    .header__burger._active::before,
    .header__burger._active::after{
        background-color: white;
    }
    .navbar__li {
        font-weight: 600;
        font-size: 22px;
        line-height: calc(24 / 22 * 100%);
        color: white;
        outline: none;
    }
    .navbar__li:active{
        color: rgb(199, 199, 199);
        text-decoration: underline;
    }
    .navbar__ul{
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }
    .navbar{
        padding: 100px 0 0 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FF6428;
        opacity: 0.99;
        transform: translate(0,-100%);
    }
    .navbar._active{
        transform: translate(0,0);
    }
    .navbar__li{
        margin: 0 0 20px 0;
        max-width: 100%;
    }

}
@media (max-width: 992px){
    .page {
        padding: 175px 0 270px 0;
    }
}

/*-----------------SHOP-----------------*/
.shop {
    padding: 120px 0 90px 0;
}
.shop__body {
}
.shop__body_block {
}
h2{
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 44px;
    line-height: calc(53 / 44 * 100%);
    color: #121212;
}
.shop__block {
    margin-top: 86px;
}
.shop__block>*:last-child{
    margin-top: 96px;
}
.shop__block_contant {
}
.shop__block_contant_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
h3{
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #121212;
}
.shop__block_contant_title_text {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #868686;
    transition: color 0.3s ease 0s;
}
@media (min-width: 993px){
    .shop__block_contant_title_text:hover {
        color: #bcbcbc;
    }
}
.shop__block_contant_slider {
}
.owl-carousel {
}
.shop__slide {
}
.shop__slide_img {
}
.shop__slide_title {
    margin-top: 40px;
}
h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121212;
}
.shop__slide_text {
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
}

@media (max-width: 992px){
    h2{
        text-align: center;
        font-weight: 600;
        font-size: 34px;
        line-height: calc(43 / 34 * 100%);
        color: #121212;
    }
    h3{
        font-weight: 600;
        font-size: 18px;
        line-height: calc(28 / 18 * 100%);
        color: #121212;
    }
    .shop__block_contant_title_text {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(30 / 18 * 100%);
        color: #868686;
    }
}
@media (max-width: 767px){
    .shop__block>*:last-child{
        margin-top: 56px;
    }
}

/*------------------------CATALOG-------------*/

.catalog {
    padding: 90px 0 110px 0;
}
.catalog__body {
}
.catalog__body_block {
    padding: 0 56px;
}
.catalog__body_block_contant {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog__contant_img_block{
    display: flex;
    justify-content: center;
    transition: all 0.3s ease 0s;
}
@media (min-width: 993px){
    .catalog__contant_img_block:hover{
        opacity: 0.9;
    }
}
.catalog__contant_img {
    text-align: center;
    position: relative;

}
.catalog__contant_text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #FFFFFF;
    
}

@media (max-width: 1080px){
    /* .catalog__contant_img_block{
        flex: 0 1 50%;
        margin-top: 50px;
    } */
    /* .catalog__body_block_contant{
        margin-top: 30px;
    } */
    .catalog {
        padding: 60px 0;
    }
    .shop {
        padding: 120px 0 60px 0;
    }
    .catalog__body_block {
        padding: 0;
    }
}
@media (max-width: 992px){
    .catalog__contant_img_block{
        flex: 0 1 50%;
        margin-top: 50px;
    }
    .catalog__body_block_contant{
        margin-top: 30px;
    }
    .catalog {
        padding: 60px 0 40px 0;
    }
}
@media (max-width: 620px){
    .catalog {
        padding: 10px 0 30px 0;
    }
    .shop {
        padding: 90px 0 40px 0;
    }
}
@media (max-width: 510px){
    .catalog__body_block_contant{
        justify-content: space-between;
    }
    .catalog__contant_img_block{
        flex: 0 1 48%;
        margin-top: 30px;
    }
    .catalog__contant_img img{
        width: 100%;
        object-fit: cover;
    }
}

/*----------------LOGO-----------------*/

.logo {
    padding: 110px 0 180px 0;
}
.logo__body {
}
.logo__body_block {
    margin-top: 75px;
    padding: 0 90px;
}
.logo__body_block_contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__body_block_img {
}
@media (max-width: 1080px){
    .logo {
        padding: 70px 0 180px 0;
    }
}
@media (max-width: 892px){
    .logo {
        padding: 40px 0 100px 0;
    }
    .logo__body_block_contant{
        flex-wrap: wrap;
    }
    .logo__body_block_img{
        flex: 0 1 50%;
        text-align: center;
        margin-top: 100px;
    }
    .logo__body_block {
        margin-top: -25px;
    }
}
@media (max-width: 680px){
    .logo {
        padding: 70px 80px 0;
    }
    .logo__body_block {
        margin-top: 75px;
        padding: 0 0px;
    }
    .logo__body_block {
        margin-top: -55px;
    }
    .logo {
        padding: 40px 0 60px 0;
    }
}
@media (max-width: 340px){
    .logo__body_block_img{
        flex: 0 1 100%;
        text-align: center;
        margin-top: 100px;
    }
}


/*------------------DARK---------------------*/
.dark {
    padding: 94px 0;
    background: black;
}
.dark__body {
}
.white_dark {
    color: white;
}
.orange_text {
}
.dark__body_block {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    flex-wrap: wrap;
}
.dark__body_block_column {
    max-width: 230px;
    transition: all 1s ease 0s;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    pointer-events: none;
}
.dark__body_block_column:nth-child(2){
    transform: translateY(100%);

}
.dark__body_block_column:nth-child(3){
    transform: translateY(150%);

}
.dark__body_block_column._look{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0px);
}

.dark__body_block_column_img {
    width: 72px;
    height: 72px;
    background: #262626;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-weight: 600;
    font-size: 18px;
    line-height: calc(27 / 18 * 100%);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}
.dark__body_block_column_text {
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
    margin-top: 12px;
}
@media (max-width: 767px){
    .dark__body_block {
        margin-top: 25px;
    }
    .dark {
        padding: 64px 0;
        background: black;
    }
    .dark__body_block_column{
        max-width: 100%;
        flex: 0 1 100%;
    }
    .dark__body_block_column{
        margin-top: 50px;
    }
    h4{
        font-weight: 600;
        font-size: 18px;
        line-height: calc(27 / 18 * 100%);
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 30px;
    }
}

/*-----------------------SLIDER------------------*/
.slider {
    padding: 240px 0 120px 0;
}
.slider__body {
}
.slider__body_block {
    margin-top: 110px;
    padding: 0 25px 0 97px;
}
.slider__body_contant {
    display: flex;
}
.slider__body_contant_img {
    flex: 0 1 38%;
    display: flex;
    align-items: center;
}
.slider__img {
}
.slider__img img{
    width: 100%;
    object-fit: cover;
}
.slider__body_contant_text {
    flex: 0 1 62%;
    padding-left: 21%;
}
.slider__body_contant_text_block {
}
.slider__block_text {
    font-size: 24px;
    line-height: 160%;
}
.slider__block_title {
    margin-top: 56px;
}
h6{
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}
.slider__block_title_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #868686;
}
.owl-theme .owl-dots{
    display: flex;
    align-items: center;
    justify-content: end;
}
.owl-theme .owl-dots .owl-dot span{
    background: #C4C4C4;
    width: 10px;
    height: 16px;
}
.owl-theme .owl-dots .owl-dot.active span{
    background: #FF6428;
    width: 24px;
    height: 12px;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: -57px;
    position: relative;
}
@media (max-width: 1244px){
    .slider {
        padding: 170px 0 80px 0;
    }
}
@media (max-width: 1080px){
    .slider {
        padding: 120px 0 60px 0;
    }
    .slider__block_text {
        font-size: 22px;
        line-height: 140%;
    }
    .slider__body_contant_text {
        padding-left: 11%;
    }
    .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: -37px;
    }
}
@media (max-width: 767px){
    .slider {
        padding: 70px 0 40px 0;
    }
    .slider__block_text {
        font-size: 18px;
        line-height: 140%;
    }
    .slider__body_contant_text {
        padding-left: 5%;
    }
    .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: -27px;
    }
    .slider__body_block {
        margin-top: 60px;
        padding: 0 25px;
    }
    .slider__block_title {
        margin-top: 36px;
    }
    h6{
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
    }
    .slider__block_title_text {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #868686;
    }
}
@media (max-width: 580px){
    .owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 10px;
    }
    .owl-theme .owl-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider__body_contant{
        flex-wrap: wrap;
    }
    .slider__body_contant_img{
        flex: 0 1 100%;
        justify-content: center;
    }
    .slider__body_contant_text{
        flex: 0 1 100%;
        margin-top: 30px;
        padding-left: 0;
    }

}
/*-------------CONTACT-----------------*/
.contact {
    padding: 120px 0;
}
.contact__body {
}
.contact__body_block {
    padding: 0 14px;
    display: flex;
}
.contact__body_block_contant {
    display: flex;
    align-items: center;
    flex: 0 1 51%;
}
.contact_title {
    text-align: start;
}
.contact__body_block_contant_buttons {
    margin-top: 60px;
}
.contact__body_block_contant_buttons >*:last-child{
    margin-left: 25px;
}
.contact__body_block_contant_button {
}
.contact__body_block_img {
    flex: 0 1 49%;
}
.contact__body_img img{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1244px){
    .contact {
        padding: 80px 0;
    }
}
@media (max-width: 1080px){
    .contact {
        padding: 60px 0;
    }
}
@media (max-width: 892px){
    .contact__body_block{
        flex-direction: column;
    }
    .contact__body_block >*{
        flex: 0 1 100%;
    }
    .contact__body_block_contant_buttons{
        text-align: center;
    }
}
@media (max-width: 767px){
    .contact {
        padding: 40px 0;
    }
}
@media (max-width: 480px){
    .contact__body_block_contant_buttons >*:last-child{
        margin-left: 0;
        margin-top: 20px;
    }
    .contact__body_block_contant_button{
        display: block;
    }
}
/*-------------FOOTER----------------*/


footer{
    background: #EEEEEE;
    padding: 80px 0 43px 0;
}

.footer__body {

}
.footer__body_box {
    padding: 0 40px;
    display: flex;
}
.footer__body_box_logo {
    margin-right: 22%;
}
.header__body_logo {
}
.footer__body_box_logo_buttons {
    margin-top: 28px;
}
.footer__body_box_logo_buttons >*:last-child{
    margin-top: 20px;
}
.footer__logo_button {
    display: flex;
}
.footer__logo_button >*:first-child{
    margin-right: 20px;
}
.footer__logo_button_text {
    color: #666666;
}
.footer__body_box_nav {
    margin-right: 14%;
    display: flex;
}
.footer__body_box_nav_1 {
    margin-right: 126px;
}
.footer__body_box_nav_1_contant,
.footer__body_box_nav_2_contant{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.footer__body_box_nav_1_contant >*:not(:last-child),
.footer__body_box_nav_2_contant >*:not(:last-child) {
    margin-bottom: 16px;
}
.footer__nav_button {
    color: rgba(18, 18, 18, 0.6);
    line-height: calc(24 / 16 * 100%);
}
.footer__body_box_nav_2 {
}
.footer__body_box_nav_2_contant {
}
.footer__body_box_buttons {
}
.footer__body_box_buttons_box {
    margin-top: 12px;
}
.footer__body_box_buttons_box >*:not(:last-child){
    margin-right: 32px;
}
.footer__body_button {
}
.footer__body_footer {
    text-align: center;
    margin-top: 80px;
}
.footer_color{
    margin-top: 0;
    color: #121212;
}

@media (max-width: 1224px){
    .footer__body_box_buttons_box >*:not(:last-child){
        margin-right: 12px;
    }
    .footer__body_box_logo {
        margin-right: 18%;
    }
    .footer__body_box_nav {
        margin-right: 12%;
        display: flex;
    }
}
@media (max-width: 1080px){
    .footer__body_box_buttons_box >*:not(:last-child){
        margin-right: 12px;
    }
    .footer__body_box_logo {
        margin-right: 14%;
    }
    .footer__body_box_nav {
        margin-right: 12%;
    }
}
@media (max-width: 1024px){
    .footer__body_box_buttons_box >*:not(:last-child){
        margin-right: 12px;
    }
    .footer__body_box_logo {
        margin-right: 0;
    }
    .footer__body_box_nav {
        margin-right: 0;
    }
    .footer__body_box{
        flex-wrap: wrap;
    }
    .footer__body_box_buttons{
        margin-top: 50px;
        flex: 0 1 100%;
        text-align: center;
    }
    .footer__body_box_nav_1 h4{
        display: inline;
    }
    .footer__body_box_logo{
        flex: 0 1 50%;
    }
    .footer__body_box_nav{
        flex: 1 1 auto;
    }
}

@media (max-width: 767px){
    .footer__body_box_logo,
    .footer__body_box_nav{
        flex: 0 1 100%;
        text-align: center;
    }
    .footer__body_box_nav{
        margin-top: 50px;
        justify-content: center;
    }
    .footer__body_box_nav_1 {
        margin-right: 50px;
    }
    .footer__body_box {
        padding: 0;
    }
    .footer__body_box_logo_buttons >*{
        justify-content: center;
    }
}

.orange_text{
    color: #FF6428;
}


/*------------------index10_2------------------*/
.body__index10_2{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: white;
}
.contant__index10_2{
    text-align: center;
}
.your__page{
    line-height: 110%;
    color: #FF6428;
    font-size: 60px;
}
.your__page_2{
    line-height: 110%;
    margin-top: 10px;
    font-size: 25px;
    color: #737373;
}

.load{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 77;
	background: white;
}
.load._un_active{
	display: none;
}